<div class="table-responsive">
    <% if (farmers != '') { %>
        <table class="table table-hover">
            <thead>
              <tr class="table-success">
                <th scope="col">ID</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">State</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% farmers.forEach(farmer => { %>
                    <tr class="table-light">
                        <td><%= farmer.id %></td>
                        <td><img src="/uploads/<%= farmer.image %>" width="50" class="rounded-circle"></td>
                        <td><%= farmer.name %></td>
                        <td><%= farmer.phone %></td>
                        <td><%= farmer.email %></td>
                        <td><%= farmer.age %></td>
                        <td><%= farmer.state %></td>
                        <td>
                            <a href="/farmers/update/<%= farmer._id %>" class="text-success"><i class="fa fa-edit fa-lg mx-1"></i></a>
                            <a href="/farmers/delete/ <%= farmer._id %>" class="text-danger"><i class="fa fa-trash fa-lg mx-1"></i></a>
                            <a href="#" class="text-primary"><i class="fa fa-star fa-lg mx-1"></i></a>
                        </td>
                      </tr>
                <% }) %>

            </tbody>
          </table>
          <div>
            <ul class="pagination justify-content-center" style="margin:20px 0">
              <li class="page-item active">
                <a class="page-link" href="#">&laquo;</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">&raquo;</a>
              </li>
            </ul>
          </div>

    <% } else {  %>
        <h2 class="text-center text-danger mt-5">No Farmer Data Found in the Database</h2>
        <% } %>

</div>






router.get('/dashboard', ensureAuthenticated, async (request, response) => {
  let query = Farmer.find()
  if (request.query.name != null && request.query.name != '' ) {
      query = query.regex('name', new RegExp(request.query.name, 'i'))
  } 
  if (request.query.email != null && request.query.email != '' ) {
      query = query.regex('email', new RegExp(request.query.email, 'i'))
  } 
  if (request.query.state != null && request.query.state != '' ) {
      query = query.regex('state', new RegExp(request.query.state, 'i'))
  } 
  try {
      const farmers = await query.exec()
      const context = { farmers : farmers, searchOptions : request.query, title : "Farmers Dashboard", username : request.user.name}
      response.render('farmersDashboard', context)
  } catch {
      response.render('core')
  }
})
