<%- include('./partials/navbar') %>
<div class="row mt-5">
    <div class="container">
        <form class="d-flex" action="/reports" method="GET">
            <input class="form-control me-sm-2" type="text" name="title" value="<%= searchOptions.title %>" placeholder="Search for Reports">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <% reports.forEach(report => { %>
<div class="col-md-6 d-flex mt-3">
<div class="container">
        <div class="card border-success mb-3" style="max-width: 40rem;">
            <div class="d-flex w-100 justify-content-between">
                <div class="card-header"><a href="/reports/<%= report._id %>"><h6><%= report.title %></h6></a></div>
                <div class="text-success mx-1"><a href="/reports/<%= report._id %>">View Comments</a></div>
              </div>
              <hr>
            <div class="card-body">
              <p class="card-text "> <%= report.body %></p>
              <hr>
              <small><span class="text-success">Created at </span>: <%= report.createdAt %> </small><br>
              <small><span class="text-success">Last Updated at </span>: <%= report.updatedAt %> </small><br>
              <hr>
              <!-- <div class="container">
                <a href="/reports/update/<%= report._id %>"><button type="button" class="btn btn-secondary">Update</button></a>
            </div>
            <div class="container">
                <form action="/reports/delete/<%= report._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger float-end" type="submit">Delete</button>
                </form>
            </div> -->
            </div>
        </div>
</div>
</div>
<% }) %>
</div>
<hr>
<div>
    <!-- <ul class="pagination align-content-center justify-content-center d-flex">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul> -->

  </div>

