<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Issues</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #4292ca;">
        <a class="navbar-brand" href="/">Issues</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/" aria-current="page">Home <span class="visually-hidden"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/issues/create"" aria-current="page">New Issue <span class="visually-hidden"></span></a>
                </li>
        </div>
    </nav>

    <div class="p-5 md-5 align-items center justify-content center d-flex">
        <h2><%= issue.title %></h2>
        <p>ID : <%= issue.id %></p>
       
        <hr>
        <div class="container p-3 m-3">
            <div class="container">
                <p>Author: <%= issue.author %></p>
                <p>Body: <%= issue.body %></p>
                <small>Created at : <%= issue.createdAt %></small><br>
                <small>Updated at : <%= issue.updatedAt %></small>

            </div>
            <div class="container">
                <a href="/issues/update/<%= issue._id %>">Update</a>
            </div>
            <br>
            <div class="container">
                <a href="#" class="delete-issue" data-id="<%= issue._id %>" id="deleteButton">Delete</a>
            </div>
            <hr>

        </div>


    </div>

</body>
<script>
    const deleteButton = document.getElementById('deleteButton');

    deleteButton.addEventListener('click', (e) => {
        const endPoint = `/issues/${deleteButton.dataset.id}`

        fetch(endPoint, {
            method: 'DELETE'
        })
        .then((response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch((error) => {
            console.log(error)
        })
    })

</script>
</html>
