<%- include('./partials/navbar') %>
<h3 class="text-success justify-content-center align-items-center d-flex mt-3">Report Details</h3>
<div class="container">
    <a href="/reports"><button class="btn btn-sm btn-danger m-2" type="submit">Back</button></a>
    <div class="card border-info mb-3 p-4" style="max-width: 70rem;">
        <div class="card-header"><%= report.title %>
            <div class="text-end"><%= report.id %></div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-success">Report</h5>
          <p class="card-text"><%= report.body %></p>
        </div>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="home" role="tabpanel">
              <p><%= report.body %></p>
            </div>
          </div>
          <hr>
  
            <h5 class="card-title text-success">Comments</h5>
            <p class="card-text"><%= report.comment %></p>
 
          <hr>
          <div class="card-body">
            <h5 class="card-title text-success">Timestamps</h5>
            <p class="card-text">Created at : <%= report.createdAt %></p>
            <p class="card-text">Last Updated at : <%= report.updatedAt %></p>
          </div>
          <hr>
          <div class="d-grid gap-2">
            <a href="/reports/update/<%= report._id %>"><button class="btn btn-sm btn-info" type="submit">Update</button></a>
            <form class="float-end" action="/reports/delete/<%= report._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger float-end" type="submit">Delete</button>
            </form>
          </div>
    
          <div class="container">
         
        </div>
     
    </div>
</div>
    





